<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bcoop.bcoop">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.profile.HabilitatsConfiguration"></activity>
        <activity android:name=".ui.prize.MyPremi" />
        <activity android:name=".ui.profile.ConfigChangeLocationActivity" />
        <activity android:name=".ui.profile.ConfigChangeImageActivity" />
        <activity android:name=".ui.profile.ConfigChangePasswordActivity" />
        <activity android:name=".ui.profile.ConfigChangeUsernameActivity" />
        <activity android:name=".ui.profile.DeletePerfilActivity" />
        <activity android:name=".ui.profile.ConfigProfileActivity" />
        <activity android:name=".ui.profile.configurationHabilitats" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_API_key" />

        <activity android:name=".InitConfigLocationActivity" />
        <activity android:name=".InitConfigImageActivity" />
        <activity android:name=".InitConfigActivity" />
        <activity
            android:name=".HomeActivity"
            android:theme="@style/AppThemeWithActionBar" />
        <activity
            android:name=".RegisterActivity"
            android:theme="@style/AppThemeWithActionBar" />
        <activity
            android:name=".MainActivity"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>